@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__current-month {
  text-transform: capitalize;
}

.date-picker-input {
  padding-right: 2rem; /* Ajusta el espacio necesario para el icono */
}

.react-datepicker__input-container input {
  padding-left: 0.7rem; /* Asegura que no haya padding izquierdo innecesario */
  padding-top: 0.5rem; /* Espacio arriba */
  padding-bottom: 0.5rem; /* Espacio abajo */
}

.react-datepicker-popper {
  z-index: 50 !important;
}

.fin-de-semana {
  color: red;
}

/* Personalizar la barra de desplazamiento */
.max-h-96 {
  max-height: 24rem; /* Ajusta la altura máxima como necesites */
  overflow-y: auto;
}

/* Barra de desplazamiento */
.max-h-96::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

/* Estilo de la parte de la barra que se desplaza (el "thumb") */
.max-h-96::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la parte desplazable */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la parte que no se desplaza (el "track") */
.max-h-96::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de la pista */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo cuando el "thumb" es hover */
.max-h-96::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color cuando se pasa el mouse */
}
